<!DOCTYPE html>
<html>
    <head>
        <title> Image Search </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
        <style>
            body {
                background-image: url("<%= imageUrl %>");
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
            }
        </style>
        <link href="css/styles.css" rel="stylesheet">
    </head>