<%- include('partials/header.ejs') %>
    <body>
        
        <main>
            <h1> Cool Images </h1>
            <form action="/search">
                <input type="text" placeholder="Type keyword" name="keyword"/>
                <br><br>
                <button>Search</button>
            </form>
        </main>
        
<%- include('partials/footer.ejs') %>

    </body>
</html>