<%- include('partials/header.ejs') %>
    <body>
        
        <main>
            <h1> Cool Images </h1>
            <form action="/search">
                <input type="text" placeholder="Type keyword" name="keyword"/>
                <br><br>
                <button>Search</button>
                <br><a id="favLink" href="/getKeywords"> See Favorites </a>
            </form>
            <hr>
            <div id="resultsContainter">
            <% imageUrlArray.forEach(function(imageUrl, i){ %>
                
            <%- (i % 3 == 0)?'<br>': '' %>    
                <img src='<%= imageUrl %>' width='200' height='200'/>
                <img class="favoriteIcon" src='img/favorite.png' width='20'>
             
             <% });%>
             </div>
        </main>
        
<%- include('partials/footer.ejs') %>

    </body>
</html>